.main {
	position: relative;
	margin: 120px 60px;
	padding: 5% 1%;
	overflow: hidden;
  }
  
  .slope {
	position: relative;
	top: -20vh;
	-ms-transform: skewY(-10deg);
	  /* IE 9 */
	transform: skewY(-10deg);
	width: 100%;
	height: 500px;
  }
  
  .top,
  .bottom {
	width: 100%;
	height: 700px;
	z-index: -1;
  }
  
  .top {
	border-radius: 50px 50px 0 0;
	color: rgb(234, 181, 241);
  }
  
  .bottom {
	border-radius: 0 0 50px 50px;
	background-color: rgb(197, 177, 218);
	position: relative;
	bottom: 40vh;
  }
  
  .heading,
  .top {
	background-color: rgb(6, 6, 53);
  }
  
  .div1,
  .div3 {
	background-image: url("../img/water.jpg");
	color: black;
  }
  
  .div2 {
	background-color: rgb(8, 1, 39);
	color: rgba(241, 233, 226, 0.89);
  }
  
  .div4 {
	background-color: rgb(255, 160, 212);
	color: white;
  }
  
  .div5 {
	background-image: linear-gradient(to top, rgba(195, 225, 245, 0.781), rgb(79, 167, 179));
  }
  
  .div6 {
	background-color: rgb(8, 1, 39);
	color: rgb(241, 217, 231);
  }
  
  .div7 {
	background-image: linear-gradient(to top, rgba(235, 219, 229, 0.781), rgb(245, 176, 233));
	color: black;
  }
  
  .div8 {
	background-image: linear-gradient(to top, rgb(248, 200, 194), rgb(247, 186, 146));
  }
  
  .bg-gray {
	background-color: lightgray;
  }
  
  .bg-peach {
	background-color: rgb(245, 190, 153);
  }
  
  .heading {
	width: max-content;
	color: white;
	font-size: 180%;
	font-family: 'Gruppo', cursive;
	font-weight: 900;
	letter-spacing: 10px;
	position: relative;
	bottom: 0.4%;
	margin: 0 auto;
	padding: 0 3%;
  }
  
  .site-border {
	position: absolute;
	left: 5%;
	top: 130px;
	border: 4px dotted white;
	width: 90%;
	height: 100%;
	z-index: 1;
	border-radius: 50px;
  }
  
  .highlight {
	font-family: 'Prata', serif;
	font-size: 600%;
  }
  
  .first-letter {
	position: absolute;
	left: 100px;
	top: 40px;
	font-family: 'Prata', serif;
	font-size: 600%;
  }
  
  .content {
	margin-left: 10%;
	padding: 10%;
  }
  
  .letter-spacing {
	letter-spacing: 20px;
  }
  
  .letter-spacing-m {
	letter-spacing: 8px;
  }
  
  .title {
	font-family: serif;
	font-size: 200%;
  }
  
  .sub-title {
	font-family: Arial;
	font-size: 130%;
	text-shadow: 4px 4px 3px blueviolet;
	margin-left: 26%;
  }
  
  .skew-text {
	-ms-transform: skewY(10deg);
	transform: skewY(10deg);
	position: absolute;
	padding: 80px 160px;
  }
  
  #mouseIcon {
	margin-left: 50%;
	position: relative;
	top: -10%;
	font-size: 40px;
  }
  
  .sub-heading {
	font-size: x-large;
	letter-spacing: 5px;
  }
  
  .opacity {
	opacity: 0.7;
	width: 100%;
	height: 500px;
  }
  
  .normal-font {
	font-family: Arial;
	font-size: large;
	display: block;
	padding: 5% 0;
  }
  
  .center {
	margin-left: 16%;
	margin-top: 5%;
  }
  
  .left {
	margin-left: 5%;
	margin-top: 6%;
	width: 60%;
  }
  
  .footer {
	position: relative;
	top: 50px;
	color: rgb(82, 80, 80);
	width: 60%;
	font-weight: bold;
	line-height: 150%;
  }
  
  .logo {
	position: relative;
	top: 50px;
	float: right;
	color: black;
	font-family: cursive;
	font-weight: bolder;
	letter-spacing: 0.2em;
  }
  
  .address {
	text-align: right;
	float: right;
	color: black;
	font-family: Arial;
	font-weight: normal;
	letter-spacing: 0em;
  }