* {
    font-family: Arial, sans-serif;
}

.main {
    padding-top: 60px;
    padding-left: 50px;
}

.input {
    font-size: 18pt;
    background-color: green;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.product-img {
    background-color: black;
    height: 20vh;
    width: auto;
}

.product {
    margin-top: 15px;
    margin-bottom: 10px;
}

.product-price {
    float: left;
    width: 50%;
    font-size: 15pt
}

.border {
    border: 1px solid;
    margin: 20px;

}

.description {
    padding: 15px;
}

.col {
    width: 32%;
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .product-img {
        height: 15vh;
    }

    .col {
        width: 49%;
        display: inline-block;
    }
}

@media screen and (max-width: 500px) {
    .col {
        width: 100%;
    }

    .main {
        padding-left: 0px;
    }
}